/* CSS Document */.

body {
	
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	margin: 0px;
	padding: 20px 10px 0px;
	background-color: #F1F1F1;

		
}
.textfield {
	font-size: 11px;
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #CCCCC;
	padding-left: 1px;
}
h1 {
	color: #F00;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: bold 200% Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	
	
}






a {
	color: #2D3954;
	font-size: 11px;
	
	
	
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

.menu_bar {
	
text-align:right;	
}
a:hover {
	color: #F00;

padding:2px;
}
.err {
	color: #FF9900;	
}
th {
	font-weight: bold;
	text-align: left;
}

.float_breaker{
clear:both;	
}

.info{
font-size:11px;	
font-family: 	"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.info b{
color:#09F;	
}
.info b:hover{
	cursor:pointer;
	
	
	 background-color:#A8CAFD;

}
.info b:hover{
	cursor:pointer;
	
	
	 background-color:#A8CAFD;

}

 /* ------- divs-------*/
 
 
 #div_menu{
	text-align:	center; 
	 
 }
 
 #div_print_table{
	background-color:#FDCEAE;
    width:60%;
    padding: 10px;
  	height:200px;
	 overflow:scroll;
 }

 
 #div_static_area{
	   width:60%;
	 	 float:left;
		 margin:10px;
		 
		 }
#div_static_area ul li{
	cursor:pointer;
	list-style:none;
	width:25%;
	 
	
}
#div_static_area ul li:hover{
background-color:#A8CAFD;
	
}

#div_notification_table{
	 background-color:#FDCEAE;
    width:100%;
    padding: 10px;
	
}
#div_unread_notifications_table{
	background-color:#FFA8A8;
    width:100%;
    padding: 10px;
}
 #div_dynamic_area{
	 margin:10px;
	 width:30%;
	 float:left;
	 
 }
 .log{
	color:#306; 

 }
 .buffer{
	 display:none;
 }
 